/* Titre creer un incident */
.add_incident_table_header {
    font-family: "Ubuntu Mono", "Ubuntu", serif;
    margin: 0 auto;
    text-align: center;
    line-height: 230%;
    font-size: 22px;
    color: darkred;
    cursor: default;
    user-select:none;
    text-decoration-color: darkred;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

/* Alignement creer un incident */
.add_incident_table {
    font-family: "Ubuntu Mono", "Ubuntu", serif;
    margin: 0 auto;
    text-align: center;
    line-height: 230%;
    font-size: 22px;
}
.add_incident_table textarea {
    font-family: "Ubuntu Mono", "Ubuntu", serif;
    font-size: 18px;
}

#incident_button {
    font-family: "Ubuntu Mono", "Ubuntu", serif;
    margin: 0 auto;
    text-align: center;
    line-height: 210%;
    width: 25%;
    font-size: 22px;
}
