/* Corrige espacements dans les tableaux */
.width_max {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

/* Masque les couleurs des liens hypertexts */
.hide_hypertext {
    color: black;
    text-decoration: none;
}

/*-----------------------------------------------------/*

/* Reglages globaux de la baniere principale */
.big_banner {
    font-family: "Courier", "Courier New", serif;
    border-width: 10px;
    padding: 10px;
}

/* Titre */
.big_banner tr td h1 a {
    color: darkblue;
    overflow: hidden;
    white-space: nowrap;
    user-select:none;
}
.big_banner tr td h1:hover {
    text-decoration-color: darkblue;
    text-decoration-line: overline underline;
}

/* Champ de recherche */
.search_input {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}
.search_input:focus {
    border: 2px solid darkblue;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

/* Bouton "Se Connecter" */
.big_banner tr td div {
    display: inline-block;
    text-align: center;
    color: darkblue;
    background-color: antiquewhite;
    border: antiquewhite solid 2px;
    padding: 20px;
    margin: 20px;
    user-select:none;
    border-radius: 5px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}
.big_banner tr td div:hover {
    border: darkblue solid 2px;
    background-size: 50%;
    border-radius: 5px;
    cursor: pointer;
}
