/* Tableau Lien "ajouter un incident" + Date */
.sub_section_size {
    font-family: "DejaVu Sans Mono", "DejaVu Sans", serif;
    border-width: 10px;
    padding: auto;
    margin: 0 2%;
    text-align: left;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}

/* Lien "ajouter un incident" */
.sub_section_size tr td a {
    color: darkred;
    user-select:none;
}
.sub_section_size tr td a:hover {
    text-decoration-color: darkred;
    text-decoration-line: overline underline;
}

/* Date */
.sub_section_size tr td p {
    color: darkred;
    user-select:none;
    cursor: default
}

/*-----------------------------------------------------/*

/* Tableau affichant les incidents */
.incident_table {
    font-family: "Ubuntu Mono", "Ubuntu", serif;
    margin: 0 auto;
    width: 80%;
}

/* Titre des colonnes du tableau d'incidents */
.incident_table tr th {
    font-size: 22px;
    cursor: default;
    user-select:none;
    color: darkolivegreen
}

/* Incidents */
.incident_table tr td {
    text-align: center;
    line-height: 230%;
}

/* Changer couleur de 1 incident sur 2 */
.incident_table  tr:nth-child(even){
    background-color: antiquewhite;
}
