/* Titre connexion et creation compte */
.subscribe_table_header {
    font-family: "Ubuntu Mono", "Ubuntu", serif;
    margin: 0 auto;
    text-align: center;
    line-height: 230%;
    font-size: 22px;
    color: darkblue;
    cursor: default;
    user-select:none;
    text-decoration-color: darkblue;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

/* Alignement connexion et creation compte */
.subscribe_table {
    font-family: "Ubuntu Mono", "Ubuntu", serif;
    margin: 0 auto;
    text-align: center;
    line-height: 230%;
    font-size: 22px;
}

#disconnect_button {
    font-family: "Ubuntu Mono", "Ubuntu", serif;
    margin: 0 auto;
    text-align: center;
    line-height: 200%;
    width: 100%;
    font-size: 28px;
}

.subscribe_button {
    font-family: "Ubuntu Mono", "Ubuntu", serif;
    margin: 0 auto;
    text-align: center;
    line-height: 200%;
    width: 100%;
    font-size: 16px;
}

/* Afficher/Masquer boutons de deconnexion/connexion  */
#not_connected_state, #connected_state {
    display: none;
}
