<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Clean My LLN - Ajouter un incident</title>
    <link rel="stylesheet" href="../styles/big_styles.css">
    <link rel="stylesheet" href="../styles/add_incidents_styles.css">
    <script type="text/javascript" src="../build/builder.js"></script>
</head>
<body>
    <table class="big_banner">
        <tr>
            <td>
                <h1>
                    <a class="hide_hypertext" href="/main">Clean My LLN</a>
                </h1>
            </td>
            <td  class="width_max"></td>
            <form action="/main" method="get">
                <td>
                    Phrase
                </td>
                <td>
                    <label>
                        <input title="Permet de rechercher une phrase plutôt qu'une succession de mots" type="checkbox" name="is_sentence">
                    </label>
                </td>
                <td>
                    <label>
                        <input class="search_input" type="text" name="search" placeholder="Recherche">
                    </label>

                </td>
            </form>
            <td>
                <div id="username_connected" onclick="location.href='/subscribe'">{{current_username}}</div>
            </td>
        </tr>
    </table>

    <hr>
    <hr>

    <h3 class="add_incident_table_header">Signaler un nouvel incident</h3>
    <form action="/add_incident/sending" method="post" onsubmit="return confirm_add_incident()">
        <p class="add_incident_table">
            <label>
                Description
                <br>
                <textarea name="description" id="description"
                rows="10" cols="110"></textarea>
            </label>
            <br>
            <label>
                Adresse
                <br>
                <textarea name="adress" id="adress"
                rows="5" cols="110"></textarea>
            </label>
            <br>
            <br>
            <label><input id="incident_button" type="submit" value="Soumettre"></label>
        </p>
    </form>
</body>
</html>