<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Clean My LLN - Page Principale</title>
    <link rel="stylesheet" href="../styles/big_styles.css">
    <link rel="stylesheet" href="../styles/main_styles.css">
    <script type="text/javascript" src="../build/builder.js"></script>
</head>
<body>
    <table class="big_banner">
        <tr>
            <td>
                <h1>
                    <a class="hide_hypertext" href="/main">Clean My LLN</a>
                </h1>
            </td>
            <td  class="width_max"></td>
            <form action="/main" method="get">
                <td>
                    Phrase
                </td>
                <td>
                    <label>
                        <input title="Permet de rechercher une phrase plutôt qu'une succession de mots" type="checkbox" name="is_sentence">
                    </label>
                </td>
                <td>
                    <label>
                        <input class="search_input" type="text" name="search" placeholder="Recherche">
                    </label>

                </td>
            </form>
            <td>
                <div id="username_connected" onclick="location.href='/subscribe'">{{current_username}}</div>
            </td>
        </tr>
    </table>

    <hr>
    <hr>

    <table class="sub_section_size">
        <tr>
            <td>
                <a class="hide_hypertext" href="/add_incident">Ajouter un incident</a>
            <td class="width_max"></td>
            <td>
                <p>{{date}}</p>
            </td>
        </tr>
    </table>

    <br>
    {{#is_incidents}}
        <table class="incident_table">
            <tr>
                <th>Description</th>
                <th>Adresse</th>
                <th>Rapporté par</th>
                <th>Date</th>
            </tr>
            {{#incidents_list}}
            <tr>
                <td>{{description}}</td>
                <td>{{adress}}</td>
                <td>{{writer}}</td>
                <td>{{post_date}}</td>
            </tr>
            {{/incidents_list}}
        </table>
    {{/is_incidents}}
    {{^is_incidents}}
        <br>
        <table class="incident_table">
            <tr>
                <th>{{{not_found}}}</th>
            </tr>
        </table>
    {{/is_incidents}}
</body>
</html>