<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Clean My LLN - Connexion/Inscription</title>
    <link rel="stylesheet" href="../styles/big_styles.css">
    <link rel="stylesheet" href="../styles/subscribe_styles.css">
    <script type="text/javascript" src="../build/builder.js"></script>
</head>
<body>
    <table class="big_banner">
        <tr>
            <td>
                <h1>
                    <a class="hide_hypertext" href="/main">Clean My LLN</a>
                </h1>
            </td>
            <td  class="width_max"></td>
            <form action="/main" method="get">
                <td>
                    Phrase
                </td>
                <td>
                    <label>
                        <input title="Permet de rechercher une phrase plutôt qu'une succession de mots" type="checkbox" name="is_sentence">
                    </label>
                </td>
                <td>
                    <label>
                        <input class="search_input" type="text" name="search" placeholder="Recherche">
                    </label>

                </td>
            </form>
            <td>
                <div id="username_connected" onclick="location.href='/subscribe'">{{current_username}}</div>
            </td>
        </tr>
    </table>

    <hr>
    <hr>

    <div id="not_connected_state">
        <form action="/disconnected" method="post">
            <br>
            <br>
            <table class="subscribe_table">
                <tr>
                    <td>
                        <label><input id="disconnect_button" type="submit" value="Se Déconnecter"></label>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="connected_state">
        <h3 class="subscribe_table_header">Compte existant</h3>
        <form id="connect_user" action="/subscribe/checking" method="post">
            <table class="subscribe_table">
                <tr>
                    <td><label>Nom d'utilisateur</label></td>
                    <td><label><input type="text" id="user" name="user"></label></td>
                </tr>
                <tr>
                    <td><label>Mot de passe</label></td>
                    <td><label><input type="password" id="pswd" name="pswd"></label></td>
                </tr>
            </table>

            <table class="subscribe_table">
                <tr>
                    <td><label><input class="subscribe_button" type="submit" value="S'Identifier"></label></td>
                </tr>
            </table>
        </form>

        <br>
        <br>

        <h3 class="subscribe_table_header">Nouveau compte</h3>
        <form action="/subscribe/creating_account" method="post" onsubmit="return confirm_subscribe()">
            <table class="subscribe_table">
                <tr>
                    <td><label class="label_subscribe_table">Nom d'utilisateur</label></td>
                    <td><label><input type="text" name="create_username"></label></td>
                </tr>
                <tr>
                    <td><label>Mot de passe</label></td>
                    <td><label><input type="password" name="create_pswd"></label></td>
                </tr>
                <tr>
                    <td><label>Nom complet</label></td>
                    <td><label><input type="text" name="create_flname"></label></td>
                </tr>
                <tr>
                    <td><label>Adresse e-mail</label></td>
                    <td><label><input type="email" name="create_email"></label></td>
                </tr>
            </table>

            <table class="subscribe_table">
                <tr>
                    <td><label><input class="subscribe_button" type="submit" value="S'Enregistrer"></label></td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        disable_parts_subscribe();
    </script>
</body>
</html>